.experienceBar{
    display: flex;
    align-items: center;
    margin-bottom:2rem;
}

.experienceBar span{
    font-size: .85rem;
}

.experienceBar > div{
    flex: 1;
    height:4px;
    border-radius:4px;
    background: var(--gray-line);
    margin:0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    height:4px;
    border-radius: 4px;
    background: var(--green);
}

span.currentExperience{
    position: absolute;
    top:12px;
    transform: translateX(-50%);
    background: var(--green);
    padding:.1rem .3rem;
    color:#fff;
    border-radius:.2rem;
}

span.currentExperience img{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-55%, -60%);
}